apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: quickbite-prod
  namespace: argocd
  labels:
    app: quickbite
    env: production
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/shilemon/quickBite.git
    targetRevision: main
    path: helm/quickbite
    helm:
      valueFiles:
        - values.yaml
        - values-prod.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: quickbite-prod
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - RespectIgnoreDifferences=true
    retry:
      limit: 3
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 5m