apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: quickbite-staging
  namespace: argocd
  labels:
    app: quickbite
    env: staging
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/shilemon/quickBite.git
    targetRevision: main
    path: helm/quickbite
    helm:
      valueFiles:
        - values.yaml
        - values-stg.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: quickbite-staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - RespectIgnoreDifferences=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m